
div(class=['navigation-mobile'])
	div(class=['nav-left'])
		span 
			a(href='/') 
				img(class='logo', src='/images/4gm_logo.svg') 
	div(class=['nav-right'])
		span(class=['burger'])
			span
			span
		span(class=['burger-patty']) 
			a(href='/work') Work
		span(class=['burger-patty'])  
			a(href='/info') Info
		span(class=['burger-patty'])  
			a(href='/vault') Vault
div(class=['navigation'])
	div(class=['nav-left'])
		span 
			a(href='/') 
				img(class='logo', src='/images/4gm_logo.svg') 
				em → An Independent Graphic Design Studio
	div(class=['nav-right'])
		span 
			a(href='/work') Work
		span 
			a(href='/info') Info
		span 
			a(href='/vault') Vault